body,
html {
    font-family: sans-serif;
    background: #fff8dc;
    text-align: left;
    margin: 0;
}

.article {
    margin: 0 auto;
    padding: 24px;
    max-width: 680px;
}

.article__heading {
    margin: 0 0 24px 0;
    color: #d87093;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    margin: 16px 0;
}

.figure__image {
    max-width: 100%;
}

.figure__caption {
    margin: 8px 0 0 0;
    font-style: italic;
    text-align: center;
}